<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Salòn</title>
</head>
<body>
    {% include 'menu.html'%}
    <h1>Editar Salòn</h1>
    <form action="{{ url_for('room.edit', id=room.idRoom) }}" method="post">
        <label for="nameRoom">Nombre Ambiente: </label>
        <input type="text" name="nameRoom" value="{{ room.nameRoom}}" required>

        <button type="submit">Editar</button>
    </form>
</body>
</html>