{% extends "base.html" %} 
{% block content %}
<h1 class="display-4 mb-4">Registar Entrada Aprendiz</h1>

<form action="{{ url_for('record.add') }}" method="POST" class="form-group p-4 border rounded shadow-sm">

  
  <div class="mb-3">
    <label for="dataEntry" class="form-label">Entrega:</label>
    <input type="datetime-local" id="dataEntry" name="dataEntry" class="form-control rounded-pill" required />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let now = new Date();
        let year = now.getFullYear();
        let month = String(now.getMonth() + 1).padStart(2, "0"); // Asegura dos dígitos
        let day = String(now.getDate()).padStart(2, "0");
        let hours = String(now.getHours()).padStart(2, "0");
        let minutes = String(now.getMinutes()).padStart(2, "0");

        let currentDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
        document.getElementById("dataEntry").value = currentDateTime;
      });
    </script>
  </div>
  
  <div class="mb-3">
      <label for="apprenticeId" class="form-label">Aprendiz:</label>
    <select class="form-select" id="apprenticeId" name="apprenticeId">
      <option value="0">- Seleccionar Aprendiz -</option>
      {% for apprentice in adata %}
        <option value="{{ apprentice.idUser }}">{{ apprentice.documento }}</option>
      {% endfor %}
    </select>
  </div>

    <div class="mb-3">
      <label for="equipmentId" class="form-label">Equipo:</label>
      <select name="equipmentId" id="equipmentId" class="form-select rounded-pill" required>
        {% for equipment in equipments %}
        <option value="{{ equipment.idEquipment }}"> {{ equipment.codeEquipment }} </option>
        {% endfor %}
      </select>
    </div>

    <label for="wachimanId" class="form-label">Celador:</label><!-- Campo Instructor -->
    <select class="form-select" id="wachimanId" name="wachimanId">
      <option value="0">- Seleccionar Celador-</option>
      {% for celador in wdata %}
        <option value="{{ celador.idUser }}">{{ celador.documento }}</option>
      {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary rounded-pill">Agregar</button>
</form>
<a href="{{ url_for('roomLoan.index') }}" class="btn btn-secondary rounded-pill">Volver</a>
{% endblock %}
